<div class="register-container">
  <h2>Cadastro</h2>
  <form (ngSubmit)="onRegister()">
    <div>
      <label>Email:</label>
      <input type="email" name="email" [(ngModel)]="user.email" required />
    </div>
    <div>
      <label>Senha:</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        required
      />
    </div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <button type="submit">Cadastrar</button>
  </form>
  <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
</div>
